* {
   margin: 0;
   padding: 0;
}
h1 {
   font-family: arial;
   font-weight: 200;
   font-size: 30px;
   text-align: center;
   text-transform: uppercase;
}

body {
   box-sizing: border-box;
   background-color: rgb(248, 247, 247);
}

.content{
   max-width: 600px;
   margin: 0 auto;
   background-color: #fff;
   height: 100vh;
   box-shadow: 0 0 3px rgba(148, 148, 148, 0.5);
}

.page-title {
   padding: 90px 0 50px 0;
}

.page-content {
   display: flex;
}

.calc {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 410px;
   height: 490px;
   margin: 0 auto;
   border: 1px solid rgb(212, 212, 212);
   border-radius: 4px;
   background-color: rgb(240, 255, 255);
   box-shadow: 0 0 3px rgba(148, 148, 148, 0.5);
}

.calc-tablo input {
   width: 350px;
   height: 40px;
   font-size: 35px;
   text-align: end;
}
.buttons {
   display: flex;
   font-display: row;
   margin: 20px 0px 10px 0px;
}

.calc-nums {
   display: flex;
   justify-content: space-around;
   width: 260px;
   height: 290px;
   flex-wrap: wrap;
   margin: 0px 10px 0px 0px;
}
.calc__btn {
   text-align: center;
   color: rgb(85, 85, 85);
   height: 30px;
   width: 54px;
   padding: 20px 15px 20px 15px;
   background-color: rgb(255, 255, 255);
   border: rgb(236, 231, 231) solid 1px;
   border-radius: 4px;
   font-size: 30px;
   font-family: arial;
}

.calc__btn:hover {
   background-color: rgb(206, 206, 206);
   color: #FFF;
}

.enter__btn {
   background-color: rgb(207, 239, 243);
   width: 330px;
}