/* Обнуление */
* {
   padding: 0px;
   margin: 0px;
   border: 0px;
   color: #333;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

aside,
nav,
footer,
header,
section {
   display: block;
}

html,
body {
   height: 100%;
}

body {
   line-height: 1;
   /*text-rendering: optimizeLegibility;*/
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: Arial;
   font-weight: inherit;
   font-size: inherit;
}

/* ------------------ */

/* Базовая типографика */

h1 {
   margin: 70px 0px 50px 0px;
   font-size: 55px;
}

h2 {
   margin: 70px 0px 50px 0px;
   font-size: 45px;
}

h3 {
   margin: 50px 0px 40px 0px;
   font-size: 37px;
}

h4 {
   margin: 40px 0px 35px 0px;
   font-size: 32px;
}

h5 {
   margin: 35px 0px 30px 0px;
   font-size: 25px;
}

h6 {
   margin: 30px 0px 20px 0px;
   font-size: 20px;
   text-decoration: underline;
}

p {
   font-family: Arial;
   font-size: 16px;
   line-height: 24px;
   padding: 10px 0px 5px 0px;
}

ul, ol {
   margin: 0px 30px;
   font-family: Arial;
   font-size: 16px;
   line-height: 24px;
   padding: 10px 0px 5px 0px;
}

li {
   margin: 0px 0px 10px 0px;
}

/* Базовая разметка */

.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.container {
   max-width: 760px;
   margin: 0 auto;
}

.header {
   background-color: #fff;
   border-bottom: 1px solid black;
   position: fixed;
   width: 100%;
   height: 80px;
   top: 0;
   left: 0;
}

.main {
   margin: 150px 0px 0px 0px;
   min-height: calc(100vh - 230px);
   /* flex: 15 1 auto; */
}

.footer {
   margin: 30px 0px 0px 0px;
   flex: 1 1 50px;
   background-color: #333;
}

/* -------------------- */

/* Меню */

.header__menu {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   height: 80px;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.menu__list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.menu__list li {
   margin-right: 50px;
}

.menu__list li:last-child {
   margin-right: 0;
}

.menu__link {
   font-family: Arial;
   font-size: 20px;
   font-weight: 500;
   padding: 29px 10px;
   color: #353333;
   -webkit-transition: color 0.3s ease 0s;
   -o-transition: color 0.3s ease 0s;
   transition: color 0.3s ease 0s;
}

.menu__link:hover {
   color: black;
   background-color: #e6e6e6;
}

.menu__link._active {
   color: #b67b38;
}

.icon-menu {
   display: none;
}

.menu__active{
   background-color: rgb(221, 221, 221);
   border-bottom: 1px solid black;
}
